#author-info,
#main-content,
#subscription {
    display: inline-block;
    vertical-align: top;
}

#author-info {
    width: 30%;
    text-align: center;
}

#main-content {
    width: 40%; 
}

#subscription {
    width: 20%;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    padding-bottom: 20px;
    margin-left: 100px;
}

.widget input {
    display: block;
    background-color: #F7F7F7;
    margin-bottom: 15px;
    padding: 4px;
    color: black;
    font-size: 1.2rem;
}

button[type="submit"] {
    font-size: 1.2rem;
    background-color: orangered;
    color: white;
    padding: 10px;
}

.widget-title {
    font-size: 1.5rem;
    font-family: "comic sans ms";
}

#blog-title {
    text-align: center;
}
#desktop img {
    display: block;
    margin:auto; 
}

#text p
{
    text-align:center;
}
#text #p2
{
    font-size: 50px;
}
#logoo
{
    display: block;
    margin: auto;
}
#comment_section {
    text-align: center;
}