/* 5. sticky: it comes in action when scrolling, it sticks to the viewport untill it is inside the parent element. threshold is defined by the top, right, left and bottom values. it stays in vision, until you have completely scrolled out the parent. */
#outer-div
{
    border:2px solid black;
    margin:20px;
}
#div1
{
    height:200px;
    width:200px;
    background-color:#393a7b;
}
#div2
{
    height:200px;
    width:200px;
    background-color:orange;
    position:sticky;
    left:20px;
    top:20px;
    /* even if it is not at its original position, it will still be blocked. */
}
#div3
{
    height:200px;
    width:200px;
    background-color:maroon;
}
#div4
{
    height:200px;
    width:200px;
    background-color:blueviolet;
}