#container
{
    height:600px;
    width:600px;
    background-color:lightslategray;
    display:flex;
    /* deafult direction of flex is row direction */
    flex-direction: column;
}
#container div
{
    height: 200px;
    width: 200px;
}
#div1
{
    background-color:cyan;
}
#div2
{
    background-color:red;
}
#div3
{
    background-color:orange;
}
#div4
{
    background-color:yellow;
}
#div5
{
    background-color:green;
}