#lightbox
{
    height:0px;
    width:0px;
    position:fixed;
    top:0px;
    left:0px;
    overflow:hidden;
    transition:all 2s ease-in-out;
}
#lightbox:target
{
    background-color:blue;
    top:25%;
    left:25%;
    height:200px;
    width:200px;
}